<html>
  <head>
    <title>DB의 민족</title>
    <link rel = "stylesheet" type = "text/css" href = "css/style.css">
    <meta name = "viewport" contetn = "initial-scale=1.0, user-scalable=yes">
    <meta charset = "euc-kr">
    <link rel="stylesheet" href="css/style.css">

  </head>
  <body style="margin: 0;">
      <div class="topBar">
          <div class="title" > KAIST Delivery Services! </div>
        </div>
    <img src="static/KAIST.jpeg" width="100%">
      <div class="form">
        <div class="forceColor"></div>
        <div class="topbar">
          <div class="spanColor"></div>
          <input class="input" id="password" placeholder="ID"/>
          <input type="password" class="input" id="password" placeholder="Password"/>
        </div>
        <div class="topbar">
            <div class="spanColor"></div>
            <button  class="input" id="submit" > Student </button>
            <button  class="input" id="submit" > Restaurant </button>
        </div>
        <button class="submit" id="submit" >Login</button>
        <button class="submit" id="submit" >Sign up</button>

    </div>
  </body>
</html>