<html>
  <head>
    <title>DB의 민족</title>
    <link rel = "stylesheet" type = "text/css" href = "css/style.css">
    <meta name = "viewport" contetn = "initial-scale=1.0, user-scalable=yes">
    <meta charset = "euc-kr">
  </head>
  <body>
    <div class="topBar">
      <div class="title" > KAIST Delivery Services! </div>
      <div class="login" > LogIn </div>
    </div>
    <div id = "restt">
      <h1 class = "title2">배달가능 지역</h1>
      <div>
        <p>여사<br />
          <input type="radio" name="girldorm" value="pos">  가능
          <input type="radio" name="girldorm" value="neg">  불가능
        </p>
        <p>택승<br />
          <input type="radio" name="girldorm" value="pos">  가능
          <input type="radio" name="girldorm" value="neg">  불가능
        </p>
        <p>동측<br />
          <input type="radio" name="girldorm" value="pos">  가능
          <input type="radio" name="girldorm" value="neg">  불가능
        </p>
      </div>
    </div>
  </body>
</html>