<html>
  <head>
    <title>DB의 민족</title>
    <link rel = "stylesheet" type = "text/css" href = "css/style.css">
    <meta name = "viewport" contetn = "initial-scale=1.0, user-scalable=yes">
    <meta charset = "euc-kr">
  </head>
  <body>
    <div class="topBar">
      <div class="title" > KAIST Delivery Services! </div>
      <div class="login" > LogIn </div>
    </div>
    <div class = "restt">
      <input type="checkbox" name="vehicle1" value="Bike"> I have a bike<br>
      <input type="checkbox" name="vehicle2" value="Car"> I have a car<br>
      <input type="checkbox" name="vehicle3" value="Boat" checked> I have a boat<br>
    </div>
  </body>
</html>