<html>
  <head>
    <title>DB의 민족</title>
    <link rel = "stylesheet" type = "text/css" href = "css/style.css">
    <meta name = "viewport" contetn = "initial-scale=1.0, user-scalable=yes">
    <meta charset = "euc-kr">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9d7BDC0wod1_b07oTSPjH_G1gpAuFYFU" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
      function call_map() {
        var centerLatlng = new google.maps.LatLng(36.370465, 127.362162);
        var zoomLevel = 16;
        var mapOptions = {
          zoom: zoomLevel,
          center: centerLatlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(document.getElementById('map_view'), mapOptions);
        return map;
      }
      function mgdorm(map) {
        var gdorm_X = 36.373426;
        var gdorm_Y = 127.356148;
        var gdorm_Latlng = new google.maps.LatLng(gdorm_X, gdorm_Y);
        var gdorm_Title = "여사";
        var marker_gdorm = new google.maps.Marker({
          position: gdorm_Latlng,
          // map: map,
          title: gdorm_Title,
        });
        return marker_gdorm;
      }
      function mtaxi(map) {
        var taxi_X = 36.372825;
        var taxi_Y = 127.359592;
        var taxi_Latlng = new google.maps.LatLng(taxi_X, taxi_Y);
        var taxi_Title = "택승";
        var marker_taxi = new google.maps.Marker({
          position: taxi_Latlng,
          // map: map,
          title: taxi_Title,
        });
        return marker_taxi;
      }
      function meast(map) {
        var east_X = 36.370823;
        var east_Y = 127.366475;
        var east_Latlng = new google.maps.LatLng(east_X, east_Y);
        var east_Title = "동측";
        var marker_east = new google.maps.Marker({
          position: east_Latlng,
          // map: map,
          title: east_Title,
        });
        return marker_east;
      }
      function mhope(map) {
        var hope_X = 36.368596;
        var hope_Y = 127.356945;
        var hope_Latlng = new google.maps.LatLng(hope_X, hope_Y);
        var hope_Title = "희망";
        var marker_hope = new google.maps.Marker({
          position: hope_Latlng,
          // map: map,
          title: hope_Title,
        });
        return marker_hope;
      }
      function show_marker(marker, map) {
        marker.setMap(map);
        google.maps.event.addListener(marker, 'click', mark(map, marker));
      }
      function initialize() {
        var obj = document.getElementById('restaurants');
        var index = obj.selectedIndex;
        var value = obj.options[index].value;
        var text = obj.options[index].text;

        var N_X = 36.373765;
        var N_Y = 127.358389;
        var W_X = 36.370270;
        var W_Y = 127.355714;
        var E_X = 36.371117;
        var E_Y = 127.366528;

        var markerTitle = "카이스트";

        var map = call_map()
      }
      function mark(map, marker) {
        var markerMaxWidth = 300;
        var cont = '<div>' + '<h2>기본</h2>' + '</div>';
        if(marker.title == '여사') {
          var cont = '<div>' +
          '<h2>여사</h2>' +
          '<p>여자 기숙사입니다</p>' +
          '<a href = "https://kds.kaist.ac.kr" target = "_blank">https://kds.kaist.ac.kr</a>' +
          '</div>';
        } else if(marker.title == '택승') {
          var cont = '<div>' +
          '<h2>택승</h2>' +
          '<p>택시 승강장입니다</p>' +
          '<a href = "https://kds.kaist.ac.kr" target = "_blank">https://kds.kaist.ac.kr</a>' +
          '</div>';
        } else if(marker.title == '동측') {
          var cont = '<div>' +
          '<h2>동측</h2>' +
          '<p>동측 기숙사입니다</p>' +
          '<a href = "https://kds.kaist.ac.kr" target = "_blank">https://kds.kaist.ac.kr</a>' +
          '</div>';
        } else if(marker.title == '희망') {
          var cont = '<div>' +
          '<h2>희망</h2>' +
          '<p>희망관 기숙사입니다</p>' +
          '<a href = "https://kds.kaist.ac.kr" target = "_blank">https://kds.kaist.ac.kr</a>' +
          '</div>';
        }
        var infowindow = new google.maps.InfoWindow({
          content: cont,
          maxWidth: markerMaxWidth
        });
        infowindow.open(map, marker);
      }
      function menu(state) {
        jQuery.ajax({
          type:"GET",
          url:"/restaurant/menu?rid="+state,
          dataType:"JSON",
          success: function(data){
            if(data == ""){
              document.getElementById("res_menu").innerHTML = "메뉴가 없습니다";
            }else {
              document.getElementById("res_menu").innerHTML = "메뉴";
              var i = 0;
              $.each(data, function() {
                // console.log(data);
                // console.log(data[i]);
                var menu_name = data[i].menu_name;
                var price = data[i].price;
                console.log(data.length);
                tableCreate(menu_name, price, i);
                jQuery('.layer').show();
                i = i + 1;
              })
            }
          },
          complete: function(data){
          },
          error: function(data){
            jQuery('.layer').hide();
            alert("calling menu has " + status);
          },
        })
      }
      function tableCreate(menu_name, price, size) {
        var table = document.getElementById("myTable");
        var row = table.insertRow(size);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);

        cell1.innerHTML = menu_name;
        cell2.innerHTML = price;
      }
      function removeTable() {
        var Table = document.getElementById("myTable");
        Table.innerHTML = "";
      }
    </script>
  </head>
  <body style="margin:0;">
    <div class="topBar">
      <div class="title" > KAIST Delivery Services! </div>
      <button class="button" > Logout </button>
    </div>
    <div class = "root">
      <div class = "content">
        <select class = "form-control" id = "restaurants" size = "20" name = "restaurants" onchange = 'initialize()'>
        </select>
      </div>
      <div class = "content2">
        <div class = "layer">
          <p id = "res_menu">메뉴</p>
          <table id="myTable" cellpadding="2" cellspacing="2" onclick="tester()"></table>
          <div class = "linking">
            <a href="" class="button2" target="_blank">평가보기</a>
          </div>
        </div>
        <div id = "map_view">
        </div>
      </div>
    </div>
    <script>
      jQuery('#restaurants').change(function() {
        var rid = jQuery('#restaurants option:selected').val();
        // console.log(state);
        jQuery.ajax({
          type:"GET",
          url:"/delivery/restaurant?rid="+rid,
          dataType:"JSON",
          success: function(data){
            // console.log(data);
            // console.log(data[0]);
            // console.log(data[0].space);
            map = call_map();
            var i = 0;
            $.each(data, function() {
              var res_space = data[i].space;
              // console.log(res_space);
              if(res_space == 3){
                show_marker(mgdorm(map), map);
              }
              if(res_space == 4){
                show_marker(mtaxi(map), map);
              }
              if(res_space == 5){
                show_marker(meast(map), map);
              }
              if(res_space == 6){
                show_marker(mhope(map), map);
              }
              i = i + 1;
            })
            //console.log(restext);
            removeTable();
            menu(rid);
          },
          complete: function(data){

          },
          error: function(xhr, status, error){
            alert("calling spaces has " + status);
          },
        })
      });
      $(document).ready(function() {
        var $select = $('#restaurants');
        jQuery.ajax({
          type:"GET",
          url:"restaurant/all",
          dataType:"JSON",
          success: function(data){
            var i = 0;
            $.each(data, function() {
              $select.append($('<option />', { value: data[i].idRestaruant, text: data[i].name }));
              i = i + 1;
            });
            // var restext = JSON.parse(data.responseText);
            // var i = 0;
            // $.each(restext, function() {
            //   // console.log(restext);
            //   // console.log(restext[i].name);
            //   $select.append($('<option />', { value: restext[i].idRestaruant, text: restext[i].name }));
            //   i = i + 1;
            // });
            // alert("What");
            // alert(data.Data[0]["Space_idSpace"]);
          },
          complete: function(data){

          },
          error: function(xhr, status, error){
            alert("calling restaurant has " + status);
          },
        });
      });
    </script>
  </body>
</html>